<footer class="footer">footer</footer>



        <!-- Эти библиотеки обязательны на всех страницах -->
        <!-- <script async src="lib/lazysizes/lazysizes.min.js"></script> -->
        <!-- <script defer src="lib/jquery/jquery-3.6.0.min.js"></script> -->
        <!-- <script defer src="lib/bootstrap-4.6.1/dist/js/bootstrap.min.js"></script> -->
        <!-- END Эти библиотеки обязательны на всех страницах -->
        
        
        <!-- Эти библиотеки подключать на текущую страницу-->
        <!-- @@if (context.swiper === true) { -->
            <!-- <script defer src="lib/swiper/swiper-bundle.min.js"></script> -->
        <!-- } -->
        <!-- @@if (context.daterangepicker === true) { -->
            <!-- <script defer src="lib/daterangepicker/moment.min.js"></script> -->
            <!-- <script defer src="lib/daterangepicker/daterangepicker.js"></script> -->
        <!-- } -->
        <!-- @@if (context.jcf === true) { -->
            <!-- <script defer src="lib/jcf/js/jcf.js"></script> -->
            <!-- <script defer src="lib/jcf/js/jcf.select.js"></script> -->
        <!-- } -->
        <!-- @@if (context.d3 === true) { -->
            <!-- <script defer src="lib/d3/dist/d3.min.js"></script> -->
        <!-- } -->
        <!-- @@if(context.swiper === false && context.daterangepicker === false && context.jcf === false && context.d3 === false){ -->
            <!-- Нет дополнительных библиотек -->
        <!-- } -->
        <!-- END Эти библиотеки подключать на текущую страницу-->


        <!-- <script defer src="js/script.js"></script> -->